<div class="row">
    <div id="robot-state-panel"> </div>
    <div id="target-panel"> </div>
    <div id="mission-panel"> </div>
</div>

<div class="row" id="validation-panel"> </div>

<div class="row" id="agent-commands">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <i class="fa fa-gear fa-2x"></i>
            </div>
            <div class="panel-body">
                <div class="col-md-9">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Strategy</label>
                            <input class="form-control" id="focusedInput" type="select" placeholder="Normal">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Log level</label>
                            <input class="form-control" id="focusedInput" type="text" placeholder="Logerr">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Start </button>
                    </div>

                    <hr>

                    <div class="row">
                        <button class="btn btn-primary btn-lg btn-block" type="submit"> Stop </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
