
{{#each values}}
<div class="col-md-4">
    <div class="imu-indicator panel panel-default">
        <div class="panel-heading">
            <h4>
                <span><i class="fa fa-arrows"></i></span> &nbsp;
                <span><strong>{{this.name}}</strong></span>
                <span class="pull-right">{{this.value}}</span>
            </h4>
        </div>
    </div>
</div>
{{/each}}
