
<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            Timer <i class="pull-right fa fa-clock-o"></i>
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            Victims Rescued <i class="pull-right fa fa-medkit"></i>
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

