
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span><i class="fa fa-{{icon}}"></i></span> &nbsp;
            <span><strong>{{name}}</strong> </span>
            <span class='pull-right'> {{value}} {{unit}} </span>
        </h4>
    </div>
</div>
