<div class="col-md-6">
    <div class="sonar-indicator panel panel-default">
        <div class="panel-heading">
            <h4>
                <span><i class="fa fa-signal"></i></span> &nbsp;
                <span><strong>Left sonar</strong></span>
                <span class="pull-right">{{left_sensor}} m</span>
            </h4>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="sonar-indicator panel panel-default">
        <div class="panel-heading">
            <h4>
                <span><i class="fa fa-signal"></i></span> &nbsp;
                <span><strong>Right sonar</strong></span>
                <span class="pull-right">{{right_sensor}} m</span>
            </h4>
        </div>
    </div>
</div>
