<div class="col-md-4">
    <div class="panel panel-gray">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-flag fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="medium">
                        {{state}}
                    </div>
                    <p>Robot state</p>
                </div>
            </div>
        </div>
    </div>
</div>
