<div class="col-md-4">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3 ">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">
                        #{{id}}
                    </div>
                    <p>Current target</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group" id="target-orientation">
                {{#each probabilities}}
                <h5>{{this.name}} - {{this.value}} %</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-red" style="width: {{this.value}}%"> </div>
                </div>
                {{/each}}
            </ul>
        </ul>
    </div>
</div>
</div>

