
{{! Sensor Dashboard page}}
<div class="row" id="batteries">

    <div class="col-md-6" id="psu">

    </div>

    <div class="col-md-6" id="motors">

    </div>

</div>

<hr>

<div class="row simple-sensors">

    <div class="col-md-6" id="co2">

    </div>

    <div class="col-md-6" id="thermal">

    </div>

</div>

<hr>

<div class="row" id="sonars">


</div>

<hr>

<div class="row" id="imu">

</div>

<hr>

<div class="row" id="temperature">


</div>
