
i {
    font-size: 20px;
    cursor: pointer;
}

.page-header {
    text-align: center;
}

.panel-heading {

    font-size: 18px;

    i {
        font-size: 20px;
    }
}

/**
 * Overview table.
 */

#ros-info-tabs {
    font-size: 1.7em;
}

.table-col-content {
    font-size: 1.4em;
}

.modal-backdrop {
    z-index: 1020;
}
