@import 'mixins';


.nav > li {

    > a {
        color: #787878;
    }
    .count {
        position: absolute;
        bottom: 12px;
        right: 6px;
        font-size: 9px;
        background: rgba(51, 200, 51, 0.55);
        color: rgba(255, 255, 255, 0.9);
        line-height: 1em;
        padding: 2px 4px;
        @include border-radius(10px);
    }
}
